<?xml version='1.0' encoding='UTF-8'?>
<!--

    Copyright 2013 Netflix, Inc.

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<!DOCTYPE hibernate-configuration PUBLIC
	'-//Hibernate/Hibernate Configuration DTD 3.0//EN'
	'http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd'>

<hibernate-configuration>

	<session-factory>
		<mapping package='com.netflix.lipstick.model' />
		<mapping package='com.netflix.lipstick.model.operators' />
		<mapping package='com.netflix.lipstick.model.operators.elements' />

		<mapping class='com.netflix.lipstick.model.P2jCounters' />
		<mapping class='com.netflix.lipstick.model.P2jWarning' />
		<mapping class='com.netflix.lipstick.model.P2jJobStatus' />
		<mapping class='com.netflix.lipstick.model.P2jPlan' />
		<mapping class='com.netflix.lipstick.model.P2jPlanPackage' />
		<mapping class='com.netflix.lipstick.model.P2jPlanStatus' />
		<mapping class='com.netflix.lipstick.model.P2jScripts' />
		<mapping class='com.netflix.lipstick.model.P2jSampleOutput' />
		<mapping class='com.netflix.lipstick.model.P2jSampleOutputList' />

		<mapping class='com.netflix.lipstick.model.operators.P2jLOCogroup' />
		<mapping class='com.netflix.lipstick.model.operators.P2jLOFilter' />
		<mapping class='com.netflix.lipstick.model.operators.P2jLOJoin' />
		<mapping class='com.netflix.lipstick.model.operators.P2jLOLimit' />
		<mapping class='com.netflix.lipstick.model.operators.P2jLOLoad' />
		<mapping class='com.netflix.lipstick.model.operators.P2jLOSplitOutput' />
		<mapping class='com.netflix.lipstick.model.operators.P2jLOStore' />
		<mapping class='com.netflix.lipstick.model.operators.P2jLogicalRelationalOperator' />

		<mapping class='com.netflix.lipstick.model.operators.elements.JoinExpression' />
		<mapping class='com.netflix.lipstick.model.operators.elements.SchemaElement' />
	</session-factory>

</hibernate-configuration>
