body {
  background-color: #ffffff;
  font-size: 1em;
}
.align-right, .table .align-right {
  text-align: right;
}
.container.padded {
  padding-top: 60px;
  padding-left: 10px;
  padding-right: 10px;
}
.popover {
  max-width: 900px;
}
.popover-inner {
  width: auto;
}
.navbar-container {
  min-width: 900px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
}

.navbar .progress-bar > div {
  margin-top: -1.5px;
}

#workflow-graph {
  padding-top: 10px;
}

#zoom-reset {
  margin-right: 20px;
  margin-top: 10%;
}

table th, table td {
  padding: 5px 5px 3px;
}

table.treetable {
  border: none;
  font-size: 1.2em;
}

table.treetable tr :first-child {
  font-weight: bold;
}

table tr.leaf :first-child {
  border-right: 1px solid #ddd;
}

.cluster rect {
  stroke-width: 2.5px;
  stroke: black;
  fill: #e9e9e9;
}

.edgePath path {
  stroke: #000;
  stroke-width: 1.5px;
  fill: #000;
}

.node rect {
  stroke: none;
  fill: transparent;
}

.label {
  font-size: 100%;
  font-weight: normal;
  line-height: 130%;
  color: #333;
}

.edge-info-label {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  color: white;
  background-color: black;
  text-align: center;
  font-size: xx-small;
  margin-left: 5px;
  cursor: pointer;
}

#logo {
  background-image: url("../tossboss-main/img/lipstick_140.png");
  background-repeat: no-repeat;
  background-size: 140px 40px;
  height: 40px;
  width: 160px;
  padding: 0px;
  margin: 0px;
}

.progress {
  overflow: hidden;
  height: 18px;
  margin-bottom: 0px;
  background-color: #f7f7f7;
  background-image: -moz-linear-gradient(top, #f5f5f5, #f9f9f9);
  background-image: -ms-linear-gradient(top, #f5f5f5, #f9f9f9);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#f9f9f9));
  background-image: -webkit-linear-gradient(top, #f5f5f5, #f9f9f9);
  background-image: -o-linear-gradient(top, #f5f5f5, #f9f9f9);
  background-image: linear-gradient(top, #f5f5f5, #f9f9f9);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#f9f9f9', GradientType=0);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 4px; 
  -moz-border-radius: 4px; 
  border-radius: 4px; 
}

div.navbar .progress {
  width: 200px;
  margin-top: 11px;
}

div .progress {
  width: 100px;
}

div.progress > div.bar {
  width: 0%;
  color: black;
}

.ng-name .show-subgraph{
  cursor: pointer;
}

#myModal .modal-body {
  overflow: auto;
}
